<div class="section">
    <div class="container">
        <div class="section-title-area  wow animate__backInLeft">
            <div class="section-title-main">
                <h3>এখনই জয়েন করুন</h3>
                <h3>বাংলাদেশের সর্ববৃহৎ ক্লাসরুমে</h3>
            </div>
        </div>
        <div class="section-main">
            <div class="join-card wow animate__fadeInUp">
                <div class="join-card-img">
                    <img ngSrc="/graduate-5c60.webp" alt="" height="100" width="73">
                </div>
                <div class="join-card-text">
                    <h3>1 কোটি +</h3>
                    <h3>মোট শিক্ষার্থী </h3>
                </div>
            </div>

            <div class="join-card wow animate__fadeInUp animate_delay-1s" style="background-color: #FFFFD0;">
                <div class="join-card-img">
                    <img ngSrc="/content-e5ad.webp" alt="" height="100" width="100">
                </div>
                <div class="join-card-text">
                    <h3>16,000+</h3>
                    <h3>লার্নিং কন্টেন্ট </h3>
                </div>
            </div>

            <div class="join-card wow animate__fadeInUp animate_delay-2s" style="background-color: #C7FFCC;">
                <div class="join-card-img">
                    <img ngSrc="/tutorial-77a7.webp" alt="" height="100" width="82">
                </div>
                <div class="join-card-text">
                    <h3>2,500+</h3>
                    <h3>স্টাডি ম্যাটেরিয়াল</h3>
                </div>
            </div>

            <div class="join-card wow animate__fadeInUp animate_delay-3s" style="background-color: #FFA9AC;">
                <div class="join-card-img">
                    <img ngSrc="/web-410710.webp" width="300" height="300" alt="">
                </div>
                <div class="join-card-text">
                    <h3>1 লক্ষ +</h3>
                    <h3>ওয়েবসাইট ব্যবহারকারী </h3>
                </div>
            </div>
        </div>
        <div class="view-all-btn">
            <button routerLink="/login">আজই যোগ দিন </button>
        </div>
    </div>
</div>
