<section class="home-course-content">
  <div class="container">
    <div class="home-course-content-title">
      <h1>Course Content</h1>
    </div>
    <!-- END! home-course-content-title -->

    <div class="home-course-content-child">
      <div
        *ngFor="let d of data; let i =index"
        class="home-course-content-dorp-down"
        [class.active]="isToggleActive === i"
      >
        <div class="home-course-content-dorp-down-top">
          <button
            type="button"
            (click)="onToggleActive(i)
            "
          >
            <span class="bangla-font">{{d?.name}}</span>

            <small>
              <i class="fa-solid fa-angle-down"></i>
            </small>
          </button>
        </div>

        <div class="home-course-content-dorp-down-bottom">
          <div class="home-course-content-dorp-down-bottom-child">
            <div class="course-content-dorp-down-lists">
              <div
                class="course-content-dorp-down-list-item"
                *ngFor="let item of d.modules; let j = index"
              >
                <h3>
                  <small>
                    <i class="fa-brands fa-youtube"></i>
                  </small>

                  <span class="bangla-font"> {{item.videoTitle}} </span>
                </h3>
                <p>
                  <span>{{item.videoDuration}}</span>

                  <small style="cursor: pointer" (click)="openYoutubeVideoDialog($event, item?.videoUrl,item?.isFreeVideo)">
                    <span style="color: #0f8f3e;cursor: pointer;padding-right: 5px" *ngIf=" checkIsFree(item?.isFreeVideo)">Free</span>
                    <i  class="fa-regular fa-eye"></i>
                  </small>
                </p>
              </div>
              <div
                class="course-content-dorp-down-list-item"
              >
              <h3>
                <small>
                  <i class="fa-regular fa-file"></i>
                </small>

                <span> Attachment Title </span>
              </h3>
              <p>
                <a style="cursor: pointer" href="https://drive.google.com/file/d/1ufGPkZxozQEszdtnbUaAQeY__UCKWxdo/view?usp=sharing" target="_blank">
                  <span style="color: #0f8f3e;cursor: pointer;padding-right: 5px">Free</span>
                </a>
              </p>
              <!-- END! course-content-dorp-down-list-item -->
            </div>
            </div>
          </div>
          <!-- END! home-course-content-dorp-down-bottom-child -->
        </div>
      </div>
      <!-- END! home-course-content-dorp-down -->
    </div>
    <!-- END! home-course-content-child -->
  </div>
</section>
<!-- END! home-course-content -->
