<section class="home-membership">
  <div class="container">
    <div class="home-membership-child">
      <div class="home-membership-title">
        <h1 class="bangla-font">মেম্বারশীপ প্রোগ্রামে জয়েন করার পর আরও যে ভ্যালু পাবেন</h1>
      </div>

      <div class="home-membership-cards" >
        <div class="home-membership-card"  *ngFor="let d of data?.membershipBenefits">
          <div class="home-membership-card-left">
            <img
              src="./assets/images/brand/png/box-pointer.png"
              alt="box-pointer"
            />
          </div>

          <div class="home-membership-card-right">
            <p class="bangla-font">{{d}}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- END! home-membership-child -->
  </div>
</section>
<!-- END! home-membership -->
