<header class="header-second">
  <div class="container">
    <div class="header-second-child">
      <div class="header-second-left">
        <a class="logo" routerLink="/" *ngIf="shopInformation?.siteLogo">
          <img [src]="shopInformation?.siteLogo" alt=""/>
        </a>
      </div>

      <div class="header-second-middle">
        <h4>
          <span>{{ formatDays(days) }}</span>
          <small>DAYS</small>
        </h4>
        <p>:</p>
        <h4>
          <span>{{ formatHours(hours) }}</span>
          <small>HRS</small>
        </h4>
        <p>:</p>
        <h4>
          <span>{{ seconds | numMinDigit}}</span>
          <small>SECS</small>
        </h4>
      </div>

<!--      <div class="timer">-->
<!--        <h1>Countdown Timer</h1>-->
<!--        <p>{{ days }} days, {{ hours }} hours, {{ minutes }} minutes, {{ seconds }} seconds</p>-->
<!--      </div>-->

      <div class="header-second-right">
        <button *ngIf="!userService.getUserStatus()" type="button" routerLink="/login">Login</button>
        <button *ngIf="userService.getUserStatus()" type="button" routerLink="/account">My Account</button>
      </div>
    </div>
  </div>
</header>
