<header class="header-second">
  <div class="container">
    <div class="header-second-child">
      <div class="header-second-left">
        <a class="logo" routerLink="/">
          <img
            *ngIf="shopInformation?.siteLogo"
            [ngSrc]="shopInformation?.siteLogo | imgCtrl : 'filename'"
            [ngSrcset]="rawSrcset"
            [width]="shopInformation?.siteLogo | imgCtrl : 'width'"
            [height]="shopInformation?.siteLogo | imgCtrl : 'height'"
            sizes="(max-width: 78px) 50vw, 25vw"
            alt=""
          />
        </a>
      </div>

      <div class="header-second-middle">
        <h4>
          <span>{{ days }}</span>
          <small>DAYS</small>
        </h4>
        <p>:</p>
        <h4>
          <span>{{ hours }}</span>
          <small>HRS</small>
        </h4>
        <p>:</p>
        <h4>
          <span>{{ seconds }}</span>
          <small>SECS</small>
        </h4>
      </div>

<!--      <div class="timer">-->
<!--        <h1>Countdown Timer</h1>-->
<!--        <p>{{ days }} days, {{ hours }} hours, {{ minutes }} minutes, {{ seconds }} seconds</p>-->
<!--      </div>-->

      <div class="header-second-right">
        <button type="button" routerLink="/login">{{ userService.getUserStatus() ? "My Account" : "Login" }}</button>
      </div>
    </div>
  </div>
</header>
