@import "variables";

.section {
  background-color: #FEFEEC;
  padding: 90px 15px 70px 15px;
  box-sizing: border-box;

  .section-title-area {
    text-align: center;
    margin-bottom: 60px;

    h3 {
      color: $color-black;
      font-family: $font-en-poppins;
      font-style: normal;
      font-weight: 600;
      font-size: $font-title-size + 4px;
      line-height: 59px;
      width: 100%;
      margin: auto;
      text-align: center;
    }

    p {
      color: $color-black;
      font-family: $font-en-poppins;
      font-style: normal;
      font-weight: 500;
      font-size: $font-dis-size + 2px;
      line-height: 22px;
      margin-top: 20px !important;
    }

  }

  .section-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    grid-template-rows: auto;
    max-width: 1200px;
    width: 100%;
    margin: auto;
  }
}

.service-card {
  background-color: $color-white;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s linear;
  cursor: pointer;

  .service-card-img {
    width: 100%;

    img {
      height: 250px;
      object-fit: contain;
    }
  }

  .service-card-body {
    padding: 25px 15px;
    text-align: center;

    h3 {
      color: $color-primary;
      font-family: $font-en-exo;
      font-style: normal;
      font-weight: 600;
      font-size: $font-dis-size + 2px;
      line-height: normal;
      margin-bottom: 8px !important;
    }

    p {
      color: #070707;
      font-family: $font-en-poppins;
      font-size: 14px;
      line-height: normal;
      font-style: normal;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 0 !important;
    }
  }

  &:hover {
    box-shadow: 0 5px 15px $color-primary;
  }
}

@media(max-width: 990px) {
  .section {
    .section-main {
      grid-gap: 20px;
      grid-template-columns: repeat(3, 1fr);
    }
  }

}

@media(max-width: 770px) {
  .section {
    padding: 30px 15px;

    .section-title-area {
      margin-bottom: 25px;

      h3 {
        font-size: 24px;
        line-height: 29px;
      }

      p {
        font-size: $font-dis-size - 3px;
        line-height: 18px;
      }
    }
  }
  .service-card {
    .service-card-img {
      img {
        height: 200px;
      }
    }
  }
}

@media(max-width: 650px) {
  .section {
    .section-main {
      grid-gap: 20px;
      grid-template-columns: repeat(2, 1fr);
    }
  }

}

@media(max-width: 450px) {
  .section {
    .section-main {
      grid-gap: 10px;
    }
  }
  .service-card {
    .service-card-img {
      img {
        height: 160px;
      }
    }
  }
}
