<section class="books-banner">
  <div class="container">
    <div class="books-banner-child">
      <h1 class="wow animate__fadeInRight animate__delay-1s">
        একটু পরিশ্রমী হলেই <span>Spoken English সমস্যার</span> সমাধান হবে
        <span>সিক্রেট</span> পদ্ধতির <span>PRACTICE</span> এর মাধ্যমে!
      </h1>

      <div class="books-banner-video wow animate__fadeInUp animate__delay-1s">
        <iframe
          src="https://www.youtube.com/embed/0ke44pmfO5E?si=GduhGDUPMvQTJfSx"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          referrerpolicy="strict-origin-when-cross-origin"
          allowfullscreen
        ></iframe>
      </div>

      <div
        class="books-banner-order-now wow animate__fadeInRight animate__delay-1s"
      >
        <button type="button" (click)="onScrollWithNavigate('order')">অর্ডার করতে চাই</button>
      </div>
    </div>
    <!-- END! books-banner-child -->
  </div>
</section>
<!-- END! books-banner -->

<div class="books-banner-text-banner-main">
  <div class="container">
    <div
      class="books-banner-text-banner wow animate__fadeInUp animate__delay-1s"
    >
      <h1>
        বাংলাদেশে আমরাই প্রথম দিচ্ছি স্পোকেন ইংলিশ বইয়ের সাথে পকেটবুক, Discord
        স্পিকিং ক্লাব এবং সিক্রেট সাপোর্ট গ্রুপ ফ্রি।
      </h1>
    </div>
    <!-- END! books-banner-text-banner -->
  </div>
</div>
<!-- END! books-banner-text-banner-main -->
