<div class="product" *ngIf="type === 'grid'">
  <div style="text-align: left">
    <ngx-skeleton-loader
      count="1"
      [theme]="{
        'border-radius': '5px',
        height: '20px',
        width: '80%',
        'background-color': '#e5e5e5',

      }"
    >
    </ngx-skeleton-loader>
  </div>

  <ngx-skeleton-loader
    count="1"
    [theme]="{
      'border-radius': '5px',
      height: '20px',
      width: '75%',
      'background-color': '#e5e5e5',

    }"
  >
  </ngx-skeleton-loader>

  <ngx-skeleton-loader
    count="1"
    [theme]="{
      'border-radius': '5px',
       height: '20px',
       'margin-bottom': '20px',
       width: '70%',
      'background-color': '#e5e5e5',

    }"
  >
  </ngx-skeleton-loader>

  <ngx-skeleton-loader
    count="1"
    [theme]="{
      'border-radius': '5px',
      height: '12px',
      width: '80%',
      'background-color': '#e5e5e5',

    }"
  >
  </ngx-skeleton-loader>

  <ngx-skeleton-loader
    count="1"
    [theme]="{
      'border-radius': '5px',
      height: '12px',
      width: '80%',
      'background-color': '#e5e5e5',

    }"
  >
  </ngx-skeleton-loader>

  <ngx-skeleton-loader
    count="1"
    [theme]="{
      'border-radius': '5px',
      height: '12px',
      width: '70%',
      'margin-bottom': '20px',
      'background-color': '#e5e5e5',

    }"
  >
  </ngx-skeleton-loader>


  <div class="fb-item">
    <div class="first-section-wrapper">
      <div class="gravatar">
        <ngx-skeleton-loader
          appearance="circle"
          [theme]="{ width: '30px', height: '30px',
          'margin-right': '15px',
          'background-color': '#e5e5e5',
          }"
        >
        </ngx-skeleton-loader>
      </div>
      <div class="gravatar-title">
        <div>
          <ngx-skeleton-loader
            [theme]="{
            width: '200px',
            'border-radius': '0',
            'margin-top': '8px',
            height: '18px',
            'background-color': '#e5e5e5',
          }"
          ></ngx-skeleton-loader>
        </div>
      </div>
    </div>
    <div class="first-section-wrapper">
      <div class="gravatar">
        <ngx-skeleton-loader
          appearance="circle"
          [theme]="{ width: '30px', height: '30px',
          'margin-right': '15px',
          'background-color': '#e5e5e5',
          }"
        >
        </ngx-skeleton-loader>
      </div>
      <div class="gravatar-title">
        <div>
          <ngx-skeleton-loader
            [theme]="{
            width: '200px',
            'border-radius': '0',
            'margin-top': '8px',
            height: '18px',
            'background-color': '#e5e5e5',
          }"
          ></ngx-skeleton-loader>
        </div>
      </div>
    </div>
    <div class="first-section-wrapper">
      <div class="gravatar">
        <ngx-skeleton-loader
          appearance="circle"
          [theme]="{ width: '30px', height: '30px',
          'margin-right': '15px',
          'background-color': '#e5e5e5',
          }"
        >
        </ngx-skeleton-loader>
      </div>
      <div class="gravatar-title">
        <div>
          <ngx-skeleton-loader
            [theme]="{
            width: '200px',
            'border-radius': '0',
            'margin-top': '8px',
            height: '18px',
            'background-color': '#e5e5e5',
          }"
          ></ngx-skeleton-loader>
        </div>
      </div>
    </div>
    <div class="second-section-wrapper">
      <div class="wrapper">
        <ngx-skeleton-loader
          [theme]="{
           width: '100px',
          'border-radius': '50px',
          height: '40px',
           'margin-top': '9px',
          'margin-bottom': '10px',
           'background-color': '#e5e5e5',
        }"
        ></ngx-skeleton-loader>
      </div>
      <div class="wrapper">
        <div class="item">
          <ngx-skeleton-loader
            [theme]="{
            'margin': '0px',
           'background-color': '#e5e5e5',
        }"
            count="3"
            animation="false"
            appearance="circle"
          ></ngx-skeleton-loader>
        </div>
      </div>
      <div class="wrapper" style="display: flex;flex-direction: column;margin-top: 10px">
        <ngx-skeleton-loader
          [theme]="{
           width: '50px',
          'border-radius': '0',
          height: '10px',
          'margin-bottom': '10px',
          'background-color': '#e5e5e5',
        }"
        ></ngx-skeleton-loader>
        <ngx-skeleton-loader
          [theme]="{
          width: '50px',
          'border-radius': '0',
          height: '10px',
          'margin-bottom': '10px',
          'background-color': '#e5e5e5',
        }"
        ></ngx-skeleton-loader>
      </div>
    </div>
  </div>
</div>

<div class="product" *ngIf="type === 'list'">
  <div style="display: inline-block; width: 100%; float: left">
    <div class="right" style="width: 50%; float: right">
      <ngx-skeleton-loader
        count="1"
        [theme]="{
          'border-radius': '5px',
          height: '20px',
          width: '80%',
          'background-color': '#e5e5e5',

        }"
      >
      </ngx-skeleton-loader>

      <ngx-skeleton-loader
        count="1"
        [theme]="{
          'border-radius': '5px',
          height: '20px',
          width: '100%',
          'background-color': '#e5e5e5',

        }"
      >
      </ngx-skeleton-loader>

      <ngx-skeleton-loader
        count="1"
        [theme]="{
          'border-radius': '10px',
          height: '40px',
          width: '100%',
          'background-color': '#e5e5e5',

        }"
      >
      </ngx-skeleton-loader>
    </div>
  </div>
</div>
