<section class="home-steps">
  <div class="container">
    <div class="home-steps-child">
      <div class="home-steps-left">
        <div class="home-steps-title">
          <h1>STEP - 1</h1>

          <p>
            এই STEP সবচেয়ে গুরুত্বপূর্ণ। এই ধাপের ভিডিওগুলো মনোযোগ সহকাজে দেখলে,
            PDF গুলো পড়লে এবং নিজে Practice এর মাধ্যমে এসাইনমেন্টগুলো কমপ্লিট
            করতে পারলে-
          </p>
        </div>
        <!-- END! home-steps-title -->

        <div class="home-steps-cards">
          <div class="home-steps-card">
            <div class="home-steps-card-left">
              <i class="fa-solid fa-rocket"></i>
            </div>
            <div class="home-steps-card-right">
              <p>ইংরেজি শুনে বুঝতে পারবেন</p>
            </div>
          </div>
          <!-- END! home-steps-card -->

          <div class="home-steps-card">
            <div class="home-steps-card-left">
              <i class="fa-solid fa-rocket"></i>
            </div>
            <div class="home-steps-card-right">
              <p>কথা বলতে পারবেন</p>
            </div>
          </div>
          <!-- END! home-steps-card -->

          <div class="home-steps-card">
            <div class="home-steps-card-left">
              <i class="fa-solid fa-rocket"></i>
            </div>
            <div class="home-steps-card-right">
              <p>যেকোনো ইংরেজি রিডিং পড়া পারবেন</p>
            </div>
          </div>
          <!-- END! home-steps-card -->

          <div class="home-steps-card">
            <div class="home-steps-card-left">
              <i class="fa-solid fa-rocket"></i>
            </div>
            <div class="home-steps-card-right">
              <p>ইংরেজিতে বানিয়ে লিখতে পারবেন, ইন শা আল্লাহ!</p>
            </div>
          </div>
          <!-- END! home-steps-card -->
        </div>
        <!-- END! home-steps-cards -->

        <div class="home-steps-join-btn">
          <button type="button">
            <span>Join With Us</span>
            <small>
              <i class="fa-regular fa-hand-point-down"></i>
            </small>
          </button>
        </div>
      </div>

      <div class="home-steps-right">
        <img src="./assets/images/brand/png/success.png" alt="" />
      </div>
    </div>
    <!-- END! home-steps-child -->
  </div>
</section>
<!-- END! home-steps -->
