<section class="home-steps">
  <div class="container">
    <div class="home-steps-child" *ngFor="let d of transformedData">
      <div class="home-steps-left">
        <div class="home-steps-title">
          <h1>{{d?.step}}</h1>

          <p>
            {{d?.description}}
          </p>
        </div>
        <!-- END! home-steps-title -->

        <div class="home-steps-cards">
          <div class="home-steps-card" *ngFor="let benefit of d.benefit">
            <div class="home-steps-card-left">
              <i class="fa-solid fa-rocket"></i>
            </div>
            <div class="home-steps-card-right">
              <p>{{benefit}}</p>
            </div>
          </div>
          <!-- END! home-steps-card -->

<!--          <div class="home-steps-card">-->
<!--            <div class="home-steps-card-left">-->
<!--              <i class="fa-solid fa-rocket"></i>-->
<!--            </div>-->
<!--            <div class="home-steps-card-right">-->
<!--              <p>কথা বলতে পারবেন</p>-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; END! home-steps-card &ndash;&gt;-->

<!--          <div class="home-steps-card">-->
<!--            <div class="home-steps-card-left">-->
<!--              <i class="fa-solid fa-rocket"></i>-->
<!--            </div>-->
<!--            <div class="home-steps-card-right">-->
<!--              <p>যেকোনো ইংরেজি রিডিং পড়া পারবেন</p>-->
<!--            </div>-->
<!--          </div>-->
<!--          &lt;!&ndash; END! home-steps-card &ndash;&gt;-->

<!--          <div class="home-steps-card">-->
<!--            <div class="home-steps-card-left">-->
<!--              <i class="fa-solid fa-rocket"></i>-->
<!--            </div>-->
<!--            <div class="home-steps-card-right">-->
<!--              <p>ইংরেজিতে বানিয়ে লিখতে পারবেন, ইন শা আল্লাহ!</p>-->
<!--            </div>-->
<!--          </div>-->
          <!-- END! home-steps-card -->
        </div>
        <!-- END! home-steps-cards -->

        <div class="home-steps-join-btn">
          <button type="button" (click)="onScrollWithNavigate('feature')">
            <span>Join With Us</span>
            <small>
              <i class="fa-regular fa-hand-point-down"></i>
            </small>
          </button>
        </div>
      </div>

      <div class="home-steps-right">
        <img [src]="d?.bannerImage ? d?.bannerImage : './assets/images/brand/png/success.png'" alt="" />
      </div>
    </div>
    <!-- END! home-steps-child -->
  </div>
</section>
<!-- END! home-steps -->
