<section class="home-banner">
  <div class="container">
    <div class="home-banner-child">
      <ng-container *ngIf="!isLoading">
        <app-course-detail-loader-left></app-course-detail-loader-left>
      </ng-container>

      <ng-container *ngIf="isLoading">
      <div class="home-banner-left">
        <h1>
          {{data?.name}}
        </h1>

        <p>
          {{data?.shortDescription}}
        </p>

        <ul>
          <li *ngFor="let d of data?.benefits">
            <small>
              <i class="fa-solid fa-angle-right"></i>
            </small>
            <span> {{d}} </span>
          </li>
        </ul>

        <div class="join-and-total-student">
          <div class="join-and-total-student-left">
            <button type="button" (click)="onScrollWithNavigate('feature')">Join Course</button>
          </div>
          <div class="join-and-total-student-right">
            <img src="/assets/images/temp/png/users.png" alt="learner" />

            <div class="total-learner">
              <h3>{{data?.totalUsers}} Student</h3>
              <h4>{{data?.userStarted}}</h4>
            </div>
          </div>
        </div>
      </div>
      </ng-container>

      <ng-container *ngIf="!isLoading">
        <app-course-detail-loader-right></app-course-detail-loader-right>
      </ng-container>

      <ng-container *ngIf="isLoading">
      <div class="home-banner-right" >
        <img *ngIf="!videoStart" [src]="data?.thumbnailImage ? data?.thumbnailImage : './assets/images/brand/png/next-level.png'" alt="next-level" />

        <div *ngIf="videoStart" class=" youtube-container" >
          <iframe *ngIf="videoStart" [src]="
                    data?.introYoutubeVideo +
                      '?autoplay=1&mute=0&loop=1&color=white&controls=0&modestbranding=1&playsinline=1&rel=0&enablejsapi=1'
                      | safeUrl
                  " title="YouTube video player" frameborder="0"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>
          </iframe>
        </div>

        <span (click)="onVideoStart()" *ngIf="!videoStart">
          <i class="fa-solid fa-play"></i>
        </span>
      </div>
      </ng-container>
    </div>
    <!-- END! home-banner-child -->
  </div>
</section>
<!-- END! home-banner -->
