<div class="profile-section">
  <div class="account-dashboard">
    <div class="account-sidebar">
      <app-account-sidebar></app-account-sidebar>
    </div>

    <div class="profile">
      <div class="container">
        <div class="main-content">
          <div class="details-section">
            <div class="details-card" routerLink="/account/my-account">
              <div class="photo-select-main1">
                <div class="photo-select">
                  <img [src]="imgPlaceHolder" [alt]="'Picked Image'">
                  <a class="photo-select-child">
                    <fa-icon [icon]="faPen"></fa-icon>
                  </a>
                </div>
                <p>প্রোফাইল</p>
              </div>
            </div>
          </div>

          <div class="details-section">
            <div class="details-card card-course" routerLink="/my-course">
              <div class="photo-select-main1">
                <div class="photo-select1">
                  <img src="assets/images/brand/logo/My-Course icon-png.png" alt="">
                </div>
                <p>আমার কোর্সসমূহ</p>
              </div>
            </div>
          </div>

<!--          <div class="details-section">-->
<!--            <div class="details-card card-course" routerLink="/my-review">-->
<!--              <div class="photo-select-main1">-->
<!--                <div class="photo-select1">-->
<!--                  <img src="assets/images/brand/logo/review-icon-png.png" alt="">-->
<!--                </div>-->
<!--                <p>কোর্স রিভিউ</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->


<!--          <div class="details-section">-->
<!--            <div class="details-card card-course" routerLink="/quiz-result">-->
<!--              <div class="photo-select-main1">-->
<!--                <div class="photo-select1">-->
<!--                  <img src="assets/images/brand/logo/order.png" alt="">-->
<!--                </div>-->
<!--                <p>Quiz Result</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="details-section">-->
<!--            <div class="details-card card-course" routerLink="/my-order">-->
<!--              <div class="photo-select-main1">-->
<!--                <div class="photo-select1">-->
<!--                  <img src="assets/images/brand/logo/order.png" alt="">-->
<!--                </div>-->
<!--                <p>My Orders</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->

<!--          <div class="details-section">-->
<!--            <div class="details-card card-course" routerLink="/account/wishlist">-->
<!--              <div class="photo-select-main1">-->
<!--                <div class="photo-select1">-->
<!--                  <img src="assets/images/brand/logo/wishlist.png" alt="">-->
<!--                </div>-->
<!--                <p>My wishlist</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->


<!--          <div class="details-section">-->
<!--            <div class="details-card card-course" routerLink="/product-review">-->
<!--              <div class="photo-select-main1">-->
<!--                <div class="photo-select1">-->
<!--                  <img src="assets/images/brand/logo/free-review-like-icon-2800-thumb.png" alt="">-->
<!--                </div>-->
<!--                <p>My Review</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
      </div>
    </div>

  </div>

</div>
