<footer class="footer-area-main">
  <div class="footer-area">
    <div class="container">
      <div class="footer-main">
        <div class="footer-logo-area wow animate__fadeInUp animate__delay-1s">
          <div class="footer-logo">
            <img
              [src]="shopInformation?.footerLogo ? shopInformation?.footerLogo : './assets/images/brand/logo/footer-logo.png'"
              alt="footer-logo"
            />

            <p>
             {{shopInformation?.shortDescription}}
            </p>

            <p *ngIf="shopInformation?.tradLicense">
             Trad-License: {{shopInformation?.tradLicense}}
            </p>

            <p *ngIf="shopInformation?.tinId">
             TIN ID: {{shopInformation?.tinId}}
            </p>
            <div class="footer-social">
              <h3>Follow Us</h3>
              <ul>
                <li>
                  <a href="{{ shopInformation?.socialLinks[0]?.value }}" target="_blank"
                  ><i class="fab fa-facebook-f"></i
                  ></a>
                </li>
                <li>
                  <a href="{{ shopInformation?.socialLinks[1]?.value }}" target="_blank"
                  ><i class="fa-brands fa-youtube"></i></a>
                </li>
                <li>
                  <a href="{{ shopInformation?.socialLinks[2]?.value }}" target="_blank"
                  ><i class="fab fa-instagram"></i
                  ></a>
                </li>
                <li>
                  <a href="{{ shopInformation?.socialLinks[3]?.value }}" target="_blank"
                  ><i class="fa-brands fa-tiktok"></i></a>
                </li>
                <li>
                  <a href="{{ shopInformation?.socialLinks[4]?.value }}" target="_blank"
                  ><i class="fa-brands fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="{{ shopInformation?.socialLinks[5]?.value }}" target="_blank"
                  ><i class="fab fa-twitter"></i
                  ></a>
                </li>
<!--                <li>-->
<!--                  <a href="{{ shopInformation?.socialLinks[3]?.value }}" target="_blank"-->
<!--                  ><i class="fab fa-telegram"></i-->
<!--                  ></a>-->
<!--                </li>-->
<!--                <li>-->
<!--                  <a href="{{ shopInformation?.socialLinks[4]?.value }}" target="_blank"-->
<!--                  ><i class="fab fa-whatsapp"></i-->
<!--                  ></a>-->
<!--                </li>-->
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-link wow animate__fadeInUp animate__delay-2s">
          <div class="footer-title">
            <h3>Useful Links</h3>
          </div>
          <ul>
            <li><a routerLink="/books">Book</a></li>
            <li><a routerLink="/">Course</a></li>
            <li><a routerLink="/blogs">Blog</a></li>
          </ul>
        </div>
        <div class="footer-link wow animate__fadeInUp animate__delay-3s">
          <div class="footer-title">
            <h3>Need Support</h3>
          </div>
          <ul>
            <li><a routerLink="/pages/about-us">About Us</a></li>
            <li><a routerLink="/pages/contact-us">Contact Us</a></li>
            <li><a routerLink="/pages/faq">FAQ</a></li>
          </ul>
        </div>
        <div class="footer-link wow animate__fadeInUp animate__delay-3s">
          <div class="footer-title">
            <h3>About Instructory</h3>
          </div>
          <ul>
            <li><a routerLink="/pages/terms-and-conditions">Terms & Conditions</a></li>
            <li><a routerLink="/pages/return-&-refund-policy">Refund Policy</a></li>
            <li><a routerLink="/pages/privacy-policy">Privacy Policy</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-bottom wow animate__fadeInUp animate__delay-1s">
    <div class="container">
      <div class="footer-bottom-child">
        <img [src]="shopInformation?.othersLogo ? shopInformation?.othersLogo : './assets/images/brand/logo/ssl-logo.png'" alt="ssl-logo" />
      </div>
    </div>
  </div>
</footer>
