<main>
  <app-home-banner></app-home-banner>
  <!-- END! home-banner -->

  <app-home-step-one></app-home-step-one>
  <!-- END! home-step-one> -->

  <app-home-course-content></app-home-course-content>
  <!-- END! home-course-content -->

  <app-home-course-step></app-home-course-step>
  <!-- END! home-course-step -->

  <app-home-membership></app-home-membership>
  <!-- END! home-membership -->

  <app-home-zero-to-success></app-home-zero-to-success>
  <!-- END! home-zero-to-success -->

  <app-home-right-decision></app-home-right-decision>
  <!-- END! home-right-decision -->
</main>

<!-- <app-banner></app-banner> -->
<!--<app-batch></app-batch>-->
<!-- <app-live-course></app-live-course> -->
<!-- <app-featured-category></app-featured-category> -->
<!-- <app-ssc-hsc-course></app-ssc-hsc-course> -->
<!--<app-lecture-shit></app-lecture-shit>-->
<!--<app-join-our-team></app-join-our-team>-->
<!-- <app-desh-shera-courses></app-desh-shera-courses> -->
<!-- <app-community-area></app-community-area> -->
<!-- <app-contact-us></app-contact-us> -->
