<section class="home-right-decision" #feature>
  <div class="container">
    <div class="home-right-decision-child">
      <div class="home-right-decision-title">
        <h1>মেম্বারশীপ প্রোগ্রামে জয়েন করার পর আরও যে ভ্যালু পাবেন</h1>
      </div>
      <!-- END! home-right-decision-title -->

      <div class="home-right-decision-top">
        <img [src]="data?.bannerImage" alt="membership" />
      </div>
      <!-- END! home-right-decision-top -->

      <div class="home-right-decision-lists">
        <div class="home-right-decision-list" *ngFor="let d of data?.courseSpecifications">
          <div class="home-right-decision-list-left">
            <h2>{{ d?.name }}</h2>
          </div>
          <!-- END! home-right-decision-list-left -->

          <div class="home-right-decision-list-middle"></div>
          <!-- END! home-right-decision-list-middle -->

          <div class="home-right-decision-list-right">
            <h2>{{ d?.value }} TK</h2>
          </div>
          <!-- END! home-right-decision-list-right -->
        </div>
      </div>
      <!-- END! home-right-decision-lists -->

      <div class="home-right-decision-price">
        <h1 *ngIf="data?.discountAmount && data?.discountAmount > 0">
          <span>Total</span>
          <small></small>
          <span><del>{{data
            | price : "regularPrice"}}TK</del></span>
        </h1>

        <h2>
          <span>Program Price</span>
          <small></small>
          <span>{{data
            | price : "salePrice"}}TK</span>
        </h2>
      </div>
      <!-- END! home-right-decision-price -->

      <div class="home-right-decision-payment">
        <div class="home-right-decision-payment-left">
          <div class="home-right-decision-payment-title">
            <h1>Payment</h1>
          </div>
          <!-- END! home-right-decision-payment-title -->

          <div class="payment-top">
            <div class="payment-top-up">
              <h3>Pay Online(Credit/Debit Card/MobileBanking)</h3>

              <img
                src="/assets/images/svg/Aamarpay_whitebg.svg"
                alt="ssl-commerce-logo"
              />
            </div>
            <div class="payment-top-down">
              <p>Pay securely through Aamarpay.</p>
            </div>
          </div>
          <!-- END! payment-top -->

          <div class="payment-bottom">
            <p>
              Your personal data will be used to process your order, support
              your experience throughout this website, and for other purposes
              described in our <a routerLink="/pages/privacy-policy">privacy policy</a>.
            </p>

            <button type="button" *ngIf="!isEnrolled && !isLoading" [disabled]="isLoading" (click)="onBuyCourse()">
              <small><i class="fa-solid fa-lock"></i></small>
              <span>Place Order  ৳ {{coupon? (data
                | price : "regularPrice") - couponDiscount : data
                | price : "salePrice"}}</span>
            </button>

            <button type="button" *ngIf="!isEnrolled && isLoading">
<!--              <small><i class="fa-solid fa-lock"></i></small>-->
              <span class="loader"></span>
              <span>Please Wait</span>
            </button>

            <button type="button" style="background: #0f8f3e" *ngIf="isEnrolled"  [routerLink]="['/', 'course-play-list', data?._id]">
<!--              <small><i class="fa-solid fa-lock"></i></small>-->
              <span>Already Enrolled. View My Course</span>
            </button>
          </div>
          <!-- END! payment-bottom -->
        </div>

        <div class="home-right-decision-payment-right">
          <div class="home-right-decision-payment-title">
            <h1>Your Order</h1>
          </div>
          <!-- END! home-right-decision-payment-title -->

          <div class="home-right-decision-orders">
            <div class="home-right-decision-orders-top">
              <h2>Product</h2>
              <h2>Subtotal</h2>
            </div>

            <div class="home-right-decision-orders-confirm">
              <div class="home-right-decision-orders-confirm-card">
                <div class="home-right-decision-orders-confirm-left">
<!--                  <img-->
<!--                    src="./assets/images/brand/png/demo-product.png"-->
<!--                    alt="demo-product"-->
<!--                  />-->

                  <p>
                    <span>Silver Membership</span>
                    <span>× 1</span>
                  </p>
                </div>

                <div class="home-right-decision-orders-confirm-right">
                  <p>৳{{data
                    | price : "regularPrice"}}</p>
                </div>
              </div>
<!--               END! home-right-decision-orders-confirm-card-->
            </div>

            <div class="home-right-decision-orders-sub-total">
              <h2>Subtotal</h2>
              <h3>৳{{data
                | price : "regularPrice"}}</h3>
            </div>

<!--            <div class="home-right-decision-orders-sub-total">-->
<!--              <h2>Discount Amount</h2>-->
<!--              <h3>৳{{data-->
<!--                | price : "discountAmount"}}</h3>-->
<!--            </div>-->

            <div class="home-right-decision-orders-total">
              <h2>Total</h2>
              <h1>৳{{coupon? (data
                | price : "regularPrice") - couponDiscount : data
                | price : "salePrice"}}</h1>
            </div>
          </div>
          <!-- END! home-right-decision-orders -->

<!--          <div class="home-right-decision-coupon">-->
<!--            <form>-->
<!--              <input type="text" placeholder="Coupon Code" />-->
<!--              <button type="button">Apply</button>-->
<!--            </form>-->
<!--          </div>-->

          <div class="cuppon-area" >
            <div class="cupon-input">
              <input [readOnly]="coupon" [(ngModel)]="couponCode" type="text"
                     placeholder="Coupon Code">
            </div>

            <div *ngIf="!coupon" class="apply-btn" (click)="checkCouponAvailability()">
              <button>Apply</button>
            </div>

            <div *ngIf="coupon" class="apply-btn" (click)="onRemoveCoupon()">
              <button class="danger">Remove</button>
            </div>
          </div>
        </div>
      </div>
      <!-- END! home-right-decision-payment -->
    </div>
    <!-- END! home-right-decision-child -->
  </div>
</section>
<!-- END! home-right-decision -->
