<section class="home-steps">
  <div class="container">
    <div class="home-steps-child">
      <div class="home-steps-left">
        <div class="home-steps-title">
          <h1>এই কোর্সটি কাদের জন্য?</h1>
        </div>
        <!-- END! home-steps-title -->

        <div class="home-steps-cards">
          <div class="home-steps-card">
            <div class="home-steps-card-left">
              <i class="fa-solid fa-rocket"></i>
            </div>
            <div class="home-steps-card-right">
              <p>যে সফল উদ্যোক্তা হতে চায়</p>
            </div>
          </div>
          <!-- END! home-steps-card -->

          <div class="home-steps-card">
            <div class="home-steps-card-left">
              <i class="fa-solid fa-rocket"></i>
            </div>
            <div class="home-steps-card-right">
              <p>যে Freedom Life চায়</p>
            </div>
          </div>
          <!-- END! home-steps-card -->

          <div class="home-steps-card">
            <div class="home-steps-card-left">
              <i class="fa-solid fa-rocket"></i>
            </div>
            <div class="home-steps-card-right">
              <p>ঘরে বসে যে অনলাইন ব্যবসা করতে চায়</p>
            </div>
          </div>
          <!-- END! home-steps-card -->

          <div class="home-steps-card">
            <div class="home-steps-card-left">
              <i class="fa-solid fa-rocket"></i>
            </div>
            <div class="home-steps-card-right">
              <p>যে নিজের Business কে সফল করতে চায়</p>
            </div>
          </div>
          <!-- END! home-steps-card -->

          <div class="home-steps-card">
            <div class="home-steps-card-left">
              <i class="fa-solid fa-rocket"></i>
            </div>
            <div class="home-steps-card-right">
              <p>যে নিজের Identity তৈরি করতে চায়</p>
            </div>
          </div>
          <!-- END! home-steps-card -->

          <div class="home-steps-card">
            <div class="home-steps-card-left">
              <i class="fa-solid fa-rocket"></i>
            </div>
            <div class="home-steps-card-right">
              <p>যে নিজের বিজনেস নিজেই করতে চায়</p>
            </div>
          </div>
          <!-- END! home-steps-card -->

          <div class="home-steps-card">
            <div class="home-steps-card-left">
              <i class="fa-solid fa-rocket"></i>
            </div>
            <div class="home-steps-card-right">
              <p>যে বিজনেস সম্পর্কে ‘সঠিক ধারনা’ পেতে চায়</p>
            </div>
          </div>
          <!-- END! home-steps-card -->
        </div>
        <!-- END! home-steps-cards -->

        <div class="home-steps-join-btn">
          <button type="button">
            <span>Join With Us</span>
            <small>
              <i class="fa-regular fa-hand-point-down"></i>
            </small>
          </button>
        </div>
      </div>

      <div class="home-steps-right">
        <img src="./assets/images/brand/png/success.png" alt="" />
      </div>
    </div>
    <!-- END! home-steps-child -->
  </div>
</section>
<!-- END! home-steps -->
