<section class="home-steps">
  <div class="container">
    <div class="home-steps-child">
      <div class="home-steps-left">
        <div class="home-steps-title">
          <h1>{{data?.courseForTitle}}</h1>
        </div>
        <!-- END! home-steps-title -->

        <div class="home-steps-cards" >
          <div class="home-steps-card" *ngFor="let d of data?.learningScopes">
            <div class="home-steps-card-left">
              <i class="fa-solid fa-rocket"></i>
            </div>
            <div class="home-steps-card-right">
              <p class="bangla-font">{{d}}</p>
            </div>
          </div>
          <!-- END! home-steps-card -->
        </div>
        <!-- END! home-steps-cards -->

        <div class="home-steps-join-btn">
          <button type="button" (click)="onScrollWithNavigate('feature')">
            <span>Join With Us</span>
            <small>
              <i class="fa-regular fa-hand-point-down"></i>
            </small>
          </button>
        </div>
      </div>

      <div class="home-steps-right">
        <img [src]="data?.courseForImage" alt="" />
      </div>
    </div>
    <!-- END! home-steps-child -->
  </div>
</section>
<!-- END! home-steps -->
