<section class="granted-book">
  <div class="container">
    <div class="granted-book-child">
      <div class="granted-book-left wow animate__fadeInLeft animate__delay-1s">
        <h1>গ্যারান্টি দিচ্ছি, বইটি পড়ার পর,</h1>

        <ul>
          <li>
            <small>
              <svg aria-hidden="true" viewBox="0 0 512 512">
                <path
                  d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zM140 300h116v70.9c0 10.7 13 16.1 20.5 8.5l114.3-114.9c4.7-4.7 4.7-12.2 0-16.9l-114.3-115c-7.6-7.6-20.5-2.2-20.5 8.5V212H140c-6.6 0-12 5.4-12 12v64c0 6.6 5.4 12 12 12z"
                ></path>
              </svg>
            </small>
            <span> ইংলিশ নিয়ে ভয় দূর হবে। </span>
          </li>

          <li>
            <small>
              <svg aria-hidden="true" viewBox="0 0 512 512">
                <path
                  d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zM140 300h116v70.9c0 10.7 13 16.1 20.5 8.5l114.3-114.9c4.7-4.7 4.7-12.2 0-16.9l-114.3-115c-7.6-7.6-20.5-2.2-20.5 8.5V212H140c-6.6 0-12 5.4-12 12v64c0 6.6 5.4 12 12 12z"
                ></path>
              </svg>
            </small>
            <span> ইংলিশ বই বা কোর্স নিয়ে চিন্তা থাকবে না। </span>
          </li>

          <li>
            <small>
              <svg aria-hidden="true" viewBox="0 0 512 512">
                <path
                  d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zM140 300h116v70.9c0 10.7 13 16.1 20.5 8.5l114.3-114.9c4.7-4.7 4.7-12.2 0-16.9l-114.3-115c-7.6-7.6-20.5-2.2-20.5 8.5V212H140c-6.6 0-12 5.4-12 12v64c0 6.6 5.4 12 12 12z"
                ></path>
              </svg>
            </small>
            <span> ইংলিশে কথা বলার পার্টনার পাবেন। </span>
          </li>

          <li>
            <small>
              <svg aria-hidden="true" viewBox="0 0 512 512">
                <path
                  d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zM140 300h116v70.9c0 10.7 13 16.1 20.5 8.5l114.3-114.9c4.7-4.7 4.7-12.2 0-16.9l-114.3-115c-7.6-7.6-20.5-2.2-20.5 8.5V212H140c-6.6 0-12 5.4-12 12v64c0 6.6 5.4 12 12 12z"
                ></path>
              </svg>
            </small>
            <span>ইংলিশ কমিউনিকেশন ও প্রেজেন্টেশনে দক্ষ হবেন।</span>
          </li>

          <li>
            <small>
              <svg aria-hidden="true" viewBox="0 0 512 512">
                <path
                  d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zM140 300h116v70.9c0 10.7 13 16.1 20.5 8.5l114.3-114.9c4.7-4.7 4.7-12.2 0-16.9l-114.3-115c-7.6-7.6-20.5-2.2-20.5 8.5V212H140c-6.6 0-12 5.4-12 12v64c0 6.6 5.4 12 12 12z"
                ></path>
              </svg>
            </small>
            <span>ইংলিশ কমিউনিকেশন ও প্রেজেন্টেশনে দক্ষ হবেন।</span>
          </li>

          <li>
            <small>
              <svg aria-hidden="true" viewBox="0 0 512 512">
                <path
                  d="M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zM140 300h116v70.9c0 10.7 13 16.1 20.5 8.5l114.3-114.9c4.7-4.7 4.7-12.2 0-16.9l-114.3-115c-7.6-7.6-20.5-2.2-20.5 8.5V212H140c-6.6 0-12 5.4-12 12v64c0 6.6 5.4 12 12 12z"
                ></path>
              </svg>
            </small>
            <span
              >পরিকল্পিত ইংলিশ চর্চার মাইন্ডসেট এবং গাইডলাইন পাবেন, ইন শা
              আল্লাহ!</span
            >
          </li>
        </ul>
      </div>

      <div
        class="granted-book-right wow animate__fadeInRight animate__delay-1s"
      >
        <img
          src="./assets/images/brand/png/book-banner.jpg"
          alt="book-banner"
        />
      </div>
    </div>
    <!-- END! granted-book-child -->

    <div class="books-banner-order-now wow animate__fadeInUp animate__delay-1s">
      <button type="button" (click)="onScrollWithNavigate('order')">অর্ডার করতে চাই</button>
    </div>
  </div>
</section>
<!-- END! granted-book -->
